body{
    margin: 0;
    padding: 0;
    background: #e5e6e7;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.animated-text{
    color: white;
    position: absolute;
    top: 10%;
    left: 15%;
    transform: translate(-50%, -50%);
    /* padding: 0 40px; */
    height: 60px;
    overflow: hidden;
    background: none;

}

.line{
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    line-height: 60px;
    background: none;
    padding: 0 20px;
}

.line:first-child{
    animation: anim 16s infinite;
}

@keyframes anim{
    0%{
        margin-top: 0;    }
    12.5%{
        margin-top: -60px;
    }
    25%{
        margin-top: -120px;
    }
    37.5%{
        margin-top: -180px;
    }
    50%{
        margin-top: -240px;
    }
    62.5%{
        margin-top: -300px;
    }
    75%{
        margin-top: -360px;
    }
    87.5%{
        margin-top: -420px;
    }
    100%{
        margin-top: 0;
    }
}

.header{
    font-family: 'Roboto', sans-serif;
    background: url("/images/header-bg-3.jpg");
     /* #2c3e50; */
    /* position: absolute; */
    /* height: 140px; */
    /* width: 100%; */
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: center; */
    /* align-items: center; */
    /* font-size: 42px; */
    /* color: white; */
    /* padding: 10px; */
}

.name{
    padding: 195px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px;
    color: white
}

.img-placeholder{
    padding: 128px;
    background: rgb(210,122,112);
}

.blinker { 
    animation-name: blinker;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(1,0,0,1);
    animation-duration: 0.8s;  
    display: inline-block;
    width: 8px;
    height: 100px;
    margin-left: 10px;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(white,.3);
    font-size: 42px;
    color:white;
    transform: translate(-20px, -4px);
}
  
@keyframes blinker { 
    from { opacity: 1.0; } to { opacity: 0.0; }
}

.card{
    padding-top: 10px;
    padding: 36px;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
    background: rgb(255, 255, 255);
    border-top: 6px solid rgb(189,60,98);
}

.project-name{
    font-weight: 700;
    font-size: 28px;
    padding-left: 18px;
}

.card-content{
    display: flex;
    padding: 4px;

}
/* Changing the width changes how wide each body of text is able to be. PWU components can be added around images to change format of explanations */
.project-writeup{
    width: 300px;
    padding: 18px;
    font-size: 18px;
    font-weight: 500;
    color: #333333;
    word-wrap: break-word;

}

.project-tags{
    display: flex;
}

.tag{
    color: rgb(204, 204, 204);
    padding-top: 5px;
    padding-left: 18px;
    padding-right: 18px;
    /* border-left-style: ridge;
    border-right-width: 2px; */
}

.spacerH{
    padding: 60px;
}

.repo-button{
    text-decoration: none;
    color: white;
    background-color: rgb(214, 132, 107);
    padding: 6px;
    font-weight: 400;
}
.fake{
    color: rgb(189,60,98);
    color: rgb(195,81,104);
    color: rgb(202,92,103);
    color: rgb(204,100,99);
    color: rgb(210,122,112);
    color: rgb(210,122,110);
    color: rgb(211,117,107);
    color: rgb(212,121,116);
    color: rgb(215, 136, 112);
}