body{
    /* background: url('/images/mathbkgd.jpg'); */
    background-color: #c8d6e5;
}

#container{
    display: flex;
    justify-content: center;
    align-content: center;
}

#inside-container{
    background-color: #576574;
    padding: 20px;
}

#calculator{
    display: grid;
    grid-template-columns: repeat(4,100px);
    grid-auto-rows: minmax(50,250);
    grid-row-gap: 10px;
    grid-column-gap: 5px;
}

#butt1{
    grid-column: span 4;
    padding: 10px;
    font-size: 60px;

}


#butt19{
    grid-column: span 2;
}


button{
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    background-color: #ff6b6b;
    outline: none;
    font-size: 28px;
    font-family: 'Francois One', sans-serif;
}

.operator{
    background-color: #feca57;
}

@media only screen
and (min-device-width: 320px) 
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2){
    body{
        background-color: red;
    }
}